{% extends '../base/base.html' %}
{% block content %}
<div>
      <div>
            <form id='post-create-form' method='POST' action='/create/'>
                  {% csrf_token %}
                  <textarea required  name='content'></textarea>
                  <button type='submit'>Save</button>
            
                </form>
                
      </div>
          <div class="container" id='posts'>
            loading ...
      </div>
</div>

<script>
      function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
      function hanldeReTweet(postId,content){
            hanldeActions(postId,'retweet','todo: handle content when reactjs')
      }
      function hanldeLike(postId){
            hanldeActions(postId,'like')
      }
      function hanldeActions(postId,action,content){
            const data = JSON.stringify({'id':postId,'action':action,'content':content})
            const xhr = new XMLHttpRequest()
            xhr.open("POST","posts/actions/")
            xhr.setRequestHeader('Content-Type','application/json')
            xhr.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest')
            xhr.setRequestHeader('X-Requested-with','XMLHttpRequest')
            //Cross Site Request Forgery protection  https://docs.djangoproject.com/en/3.1/ref/csrf/ 
            xhr.setRequestHeader('X-CSRFToken',getCookie('csrftoken'))
            xhr.onload = function(){
                  console.log(xhr.status,xhr.response)
                  loadPosts(element)
            }
            xhr.send(data)
      }
            function ReTweetBtn(postId,content){
                  // console.log(content)
                  return "<button onclick='hanldeReTweet("+postId+")'>"+'retweet' +"</button>"
            }
            function postFormatting(item,index){
                  return '<div  style="display:flex">'+index+"<p> . "+item.content+"</p>" + "<button onclick='hanldeLike("+item.id+")'>" +item.like.length+' likes'+"</button>"+ReTweetBtn(item.id,item.content)+'</div>'
            }
      
      function loadPosts(element){
      const xhr = new XMLHttpRequest()
      xhr.responseType = 'json'
      xhr.open("GET","/posts/")

      xhr.onload = function(){
            var posts = ''
            var likes = 0
            var dislikes = 0

      // console.log(likes, dislikes)
            var listItems = xhr.response
            listItems.map((item,index)=>{
                  posts = posts+postFormatting(item,index)
            })
            element.innerHTML = posts   

      }

      xhr.send()
      }




const postForm = document.getElementById('post-create-form')
function handleSubmit(event){
      event.preventDefault()
const action = event.target.getAttribute('action')
const method = event.target.getAttribute('method')
xhr = new XMLHttpRequest()
xhr.open(method,action)
xhr.onload =()=>{
      const serverResponse = xhr.response
if(xhr.status===201){
     const container = document.getElementById('posts')
      // loadPosts(container)
      const newPost = postFormatting(JSON.parse(serverResponse),null)
      // console.log(newPost)
      // console.log(xhr.status, serverResponse)
      //render only new posts instead of reloading all posts.
      //also note newPost+container.innerHTML  return new tiweets in the top
      //but container.innerHTML+newPost return new posts at the bottom
      container.innerHTML = newPost+container.innerHTML 
      //this rest() is to reset (remove) the text in the form after you hit save.
      postForm.reset()
} else if ( xhr.status===400){
      console.log(xhr.response)
} else if (xhr.status===401){
      // if you try to write a tweet and are not logined in this will redirect you to login.
      window.location.href = '/accounts/login/'
      
}else if (xhr.status===403){
      window.location.href = '/accounts/login/'
      
}
}

// setRequestHeader manually if you want is_ajax() to work.
xhr.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest')
xhr.setRequestHeader('X-Requested-with','XMLHttpRequest')
const myFormData = new FormData(event.target)
xhr.send(myFormData)

}
postForm.addEventListener("submit", handleSubmit )

const element = document.getElementById('posts')
loadPosts(element)

</script>
{% endblock content %}