{% extends '../base/base.html' %}
{% block content %}
<div class="container" id='posts'>
      loading ...
</div>
<script>
const element = document.getElementById('posts')
const xhr = new XMLHttpRequest()
xhr.responseType = 'json'
xhr.open("GET","/posts/")
xhr.onload = function(){
      var posts = ''
      
      var listItems = xhr.response.response
      listItems.map((item,index)=>{
            posts = posts+"<p>"+item.content+'</p>'
      })
      element.innerHTML = posts
}

xhr.send()
</script>
{% endblock content %}